# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

vae_weights
weights
weights
redq_bc_weights
policy_weights
spot_weights
runs
video
cql/
# sr_dice/

# Jupyter Notebook
.ipynb_checkpoints

workshop.ipynb

# pyenv
.python-version

# vscode
.vscode

# mac
.DS_Store
train.ipynb

json_datasets
wandb